<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/22cf154747.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/images/index.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/site.webmanifest">
    <title>Inert Farming</title>
</head>

<style>
    .p1 {
        font-style: normal;
        color: #2b2b2bde;
        /* font-weight: bold; */
        letter-spacing: 1.2px;
        font-size: 1.1rem;
    }
    
    strong {
        color: green;
        color: #d08a08;
    }
    
    @media (max-width:600px) {
        .p1 {
            font-size: 0.955rem !important;
        }
    }
</style>

<body>
    {% include 'nav.html' %}


    <img src="../static/images/bg1.svg" class="bg" alt="" srcset="">
    <section>

        <div class="container main-head ">


            <div class="row">
                <div class="col-12 col-lg-6 header-left-side d-flex justify-content-center flex-column
                ">
                    <h3>INERT FARMING IN <span><img class="country" src="../static/images/330439.png" alt="" srcset=""></span> INDIA</h3>
                    <div class="divider"></div>
                    <h1>
                        Farming with Machine Learning<br> & Artifical intelligence
                    </h1>
                    <p class="para">
                        Increse your Fram production By 80% using many AI& Deep Learning Technology
                    </p>
                    <button class="btn-secondary1">
            Explore More &nbsp;<i class="fas fa-arrow-right"></i>
          </button>
                </div>
                <div class="col-12 col-lg-6 header-right-side d-flex justify-content-center flex-column">
                    <img src="../static/images/330430.png" class="img-fluid" alt="" srcset="">

                </div>
            </div>
        </div>


    </section>

    <div class="sessionpage">
        <h3>Welcome<span> {{session.logged_in}}</span><br> An Innovative Method To implement and Increase Crop Productivity</h3>
    </div>
    <section id="ser">

        <div class="container main-head2   mt-5">

            <div class="row  core-grids">

                <h2 style="text-align: center; line-height: 3rem;
        font-weight: 700;
        width: 120%;
        margin-top: 30px;
        font-size: 2.6rem;
        color: #1951a8;
        text-shadow: 1px 2px 8px #00000014;
        letter-spacing: 2px;" class="mb-5 text-align-centre">About Us</h3>
                    <h3>IMPROVING AGRICULTURE, IMPROVING LIVES,
                        <br> CULTIVATING CROPS TO MAKE FARMERS
                        <br> INCREASE PROFIT</h3>

                    <p class="about-para">
                        We use state-of-the-art machine learning and deep learning technologies to help you guide through the entire farming process.
                    </p>
                    <ul class="list
          ">
                        <li><img src="../static/images/flower-pot (2).png" class="l2" alt="" srcset="">Which Crop to Grow in your Farm? </li>
                        <li><img src="../static/images/fertilizer (2).png" class='l2' alt="" srcset="">Best Fertilizer for Your Farm </li>
                        <li><img src="../static/images/pest.png" class="l2" alt="" srcset="">Know your crop Diseases & its Cure </li>
                    </ul>



            </div>

        </div>
    </section>
    <section id="ser2">

        <div class="container main-head2  py-5 mt-5">

            <div class="row crop-main">

                <div class="col-12 col-lg-6 header-right-side d-flex justify-content-center flex-column">
                    <img src="../static/images/Untitled-3.jpg" class="img-fluid crop" alt="" srcset="">

                </div>
                <div class="col-12 col-lg-6 header-left-side2 d-flex justify-content-center flex-column
                ">


                    <h1>
                        ML Crop Predictor
                    </h1>
                    <p class="para">
                        Increse your Fram production By 80% using many AI& Deep Learning Technology<br>
                        <p class="p1">Get best Crop Suggested for your<strong> crop depending on the soil content.</strong> An innovative method to suggest and increase the crop production by wise descision of selection of the crop which has a <strong>returns in long term Farming of the country</strong>
                        </p>


                    </p>
                    <a href="/crop"><button class="btn-secondary1 b1">
            Predict Now &nbsp;<i class="fas fa-arrow-right"></i>
          </button></a>

                </div>
            </div>

        </div>
    </section>

    <section id="ser3" style="background-color:#edfdef;">

        <div class="container main-head2  py-5 mt-5">

            <div class="row crop-main">
                <div class="col-12 col-lg-6 header-left-side2 d-flex justify-content-center flex-column">

                    <h1>
                        ML Fertilizer Predictor
                    </h1>
                    <p class="para">
                        Increse your Fram production By 80% using many AI& Deep Learning Technology for Best Fertilizer
                        <p class="p1">Get Know which<strong> Fertilizer is suitable for form Farm</strong> Increase your farm production with best fertilizer recommended by Models. Also we provide<strong> organic ways to improve fertility of the lands</strong>
                        </p>

                    </p>
                    <a href="./fertilizer"><button class="btn-secondary1">
            Predict Now &nbsp;<i class="fas fa-arrow-right"></i>
          </button></a>

                </div>
                <div class="col-12 col-lg-6 header-right-side d-flex justify-content-center flex-column">
                    <img src="../static/images/fertilizer.jpg" class="img-fluid crop" alt="" srcset="">

                </div>
            </div>

        </div>
    </section>

    <section id="ser2">

        <div class="container main-head2  py-5 mt-5">

            <div class="row crop-main">

                <div class="col-12 col-lg-6 header-right-side d-flex justify-content-center flex-column">
                    <img src="../static/images/Untitled-4.jpg" class="img-fluid crop" alt="" srcset="">

                </div>
                <div class="col-12 col-lg-6 header-left-side2 d-flex justify-content-center flex-column">


                    <h1>
                        ML Crop Price Predictor
                    </h1>
                    <p class="para">
                        Increase your Farm production By 80% using many AI & Deep Learning Technology<br>
                        <!-- <ul class="detail">

              <li>Using Forecasting Models for crop price prediction of 2021-2023 </li>
              <li>know Which state has Highest Production of Crop</li>
              <li> Also Top Foreign Exporters</li>
            </ul> -->
                        <p class="p1">Using Forecasting Models for <strong> price prediction of 2021-2023.</strong> Also we provide Which state has Highest Production of Crop. Get knowledge about the <strong> Best exporter in the country</strong>

                        </p>


                    </p>
                    <a href="/forecast"><button class="btn-secondary1 b1">
            Predict Now &nbsp;<i class="fas fa-arrow-right"></i>
          </button></a>

                </div>
            </div>

        </div>
    </section>
    <section id="ser">

        <div class="container main-head2  py-5 mt-5">

            <div class="row crop-main">


                <div class="col-12 col-lg-6 header-left-side2 d-flex justify-content-center flex-column
                ">


                    <h1 style="font-size: 2.1rem;">
                        Market Place for Farmers
                    </h1>
                    <p class="para">
                        Increse your Fram production By 80% using many AI& Deep Learning Technology<br></p>
                    <p class="p1">
                        A Web platform where farmer can sell their <strong> to consumer directly without middleman & brokes</strong> without any<strong> extra charges</strong> for and getting good prices of crops for their crops</p>



                    </p>
                    <a href="/sell"><button class="btn-secondary1 b1">
            See Now &nbsp;<i class="fas fa-arrow-right"></i>
          </button></a>

                </div>
                <div class="col-12 col-lg-6 header-right-side d-flex justify-content-center flex-column">
                    <img src="../static/images/fertilizer (2).png" class="img-fluid crop" alt="" srcset="">

                </div>
            </div>

        </div>
    </section>
    <section id="ser2">

        <div class="container main-head2  py-5 mt-5">

            <div class="row crop-main">

                <div class="col-12 col-lg-6 header-right-side d-flex justify-content-center flex-column">
                    <img src="../static/images/disease.jpg" class="img-fluid crop" alt="" srcset="">

                </div>
                <div class="col-12 col-lg-6 header-left-side2 d-flex justify-content-center flex-column
                ">


                    <h1>
                        Crop Disease Care
                    </h1>
                    <p class="para">
                        Increse your Fram production By 80% using many AI& Deep Learning Technology<br>
                        <!-- <ul class="detail">

              <li>Using Forecasting Models for crop price prediction of 2021-2023 </li>
              <li>know Which state has Highest Production of Crop</li>
              <li> Also Top Foreign Exporters</li>
            </ul> -->
                        <p class="p1">Using Deep Learning CNN Models based <strong>CNN ResNet9 Architecture To build a Model</strong> Which acn help farmers to know whether crop is healthy or not? Also get recommended <strong>Diseases & Its cause and also to prevent it</strong>

                        </p>


                    </p>
                    <a href="/disease"><button class="btn-secondary1 b1">
            Predict Now &nbsp;<i class="fas fa-arrow-right"></i>
          </button></a>

                </div>
            </div>

        </div>
    </section>

    <!-- <section id="ser5"> -->

    <!-- <div class="container main-head2  py-5 mx-auto"> -->
    <!-- <div class="member-title text-align-centre"> -->
    <!-- <h2>Our Team Members</h2> -->
    <!-- </div> -->
    <!-- <div class="row members d-flex flex-row mx-auto"> -->



    <!-- <div class="col-12 col-lg-3 member-info d-flex justify-content-center flex-column"> -->

    <!-- <img src="../static/images/p1.png" class="img-fluid member" alt="" srcset=""> -->
    <!-- <h5 class=" font-weight-bold" >Pushkar Aashish</h5> -->
    <!-- <h6 class="desc">Web Developer </h6> -->

    <!-- </div> -->


    <!-- <div class="col-12 col-lg-3 member-info d-flex justify-content-center flex-column"> -->

    <!-- <img src="../static/images/p1.png" class="img-fluid member" alt="" srcset=""> -->
    <!-- <h5 class=" font-weight-bold" >Rounak Kumar</h5> -->
    <!-- <h6 class="desc">AI and ML </h6> -->

    <!-- </div> -->

    <!-- <div class="col-12 col-lg-3 member-info d-flex justify-content-center flex-column"> -->

    <!-- <img src="../static/images/p1.png" class="img-fluid member" alt="" srcset=""> -->
    <!-- <h5 class=" font-weight-bold" >Rajib Bishal</h5> -->
    <!-- <h6 class="desc">AI and ML </h6> -->

    <!-- </div> -->

    <!-- <div class="col-12 col-lg-3 member-info d-flex justify-content-center flex-column"> -->
    <!--  -->
    <!-- <img src="../static/images/p1.png" class="img-fluid member" alt="" srcset=""> -->
    <!-- <h5 class=" font-weight-bold" >Shubham Singh</h5> -->
    <!-- <h6 class="desc">Database </h6> -->

    <!-- </div> -->

    <!-- <div class="col-12 col-lg-3 member-info d-flex justify-content-center flex-column"> -->

    <!-- <img src="../static/images/p1.png" class="img-fluid member" alt="" srcset=""> -->
    <!-- <h5 class=" font-weight-bold" >Deepanshu Shekhar</h5> -->
    <!-- <h6 class="desc">Web Developer </h6> -->

    <!-- </div> -->

    <!-- <div class="col-12 col-lg-3 member-info d-flex justify-content-center flex-column"> -->

    <!-- <img src="../static/images/p1.png" class="img-fluid member" alt="" srcset=""> -->
    <!-- <h5 class=" font-weight-bold" >Pritika Priya</h5> -->
    <!-- <h6 class="desc">Database </h6> -->

    <!-- </div> -->



    <!-- </div> -->

    <!-- </div> -->
    <!-- </section> -->

    <footer class="text-center text-lg-start text-dark" style="padding: 2rem 0 0 0; background-color:#1657a2;
          color: white !important;">

        <section class="">
            <div class="container text-center text-md-start mt-5">

                <div class="row mt-3">

                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                        <h4 class=" fw-bold"><img src="../static/images/chip.png" class="logo-img1" style="width: 19%;"> AIFarming</h4>
                        <div class="mb-4 mt-0 d-inline-block mx-auto" style="width: 170px;
                background-color: #00e97f;
                height: 3px"></div>

                        <p class="footer-para">
                            Enhancing Agriculture with<br> INERT Farming India Pvt.Limited <br> Farms street Noida-400008 <br> Uttar Pradesh-India

                        </p>
                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 f1 f2 ">

                        <h6 class="text-uppercase fw-bold">Products</h6>
                        <div class="mb-4 mt-0 d-inline-block mx-auto " style="width: 170px;
                background-color: #00e97f;
                height: 3px"></div>

                        <p>
                            <a href="#!" class="text-dark">Crops Price</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark">Rainfall</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark">Yearly Growth</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark">Incrase Production</a>
                        </p>
                    </div>

                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 f1 f2">

                        <h6 class="text-uppercase fw-bold">Useful links</h6>
                        <div class="mb-4 mt-0 d-inline-block mx-auto f2" style="width: 170px;
                background-color: #00e97f;
                height: 3px"></div>

                        <p>
                            <a href="#!" class="text-dark">Agriculture Loans</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark">Organic Farming</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark">Large Farming</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark">Help</a>
                        </p>
                    </div>



                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 ">

                        <h6 class="text-uppercase fw-bold">Contact</h6>
                        <div class="mb-4 mt-0 d-inline-block mx-auto" style="width: 130px;
                background-color: #00e97f;
                height: 3px"></div>

                        <p><img src="../static/images/home.png " alt="" srcset="" class="l1 mr-5"> Crops Street Noida</p>
                        <p><img src="../static/images/email (1).png " alt="" srcset="" class="l1 mr-5">inertfarming@gmail.com</p>
                        <p><img src="../static/images/telephone.png " alt="" srcset="" class="l1 mr-5"> +91-7903740337</p>
                        <p><img src="../static/images/whatsapp.png " alt="" srcset="" class="l1 mr-5"> +91-9508521002</p>

                    </div>

                </div>

            </div>
        </section>

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">

            All Rights Reserved &copy; 2024 Copyright: inertfarming.com
        </div>

    </footer>
    <div id="google_translate_element"></div>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en'
            }, 'google_translate_element');
        }
    </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</body>
<script src="https://cdn.botpress.cloud/webchat/v2/inject.js"></script>
<script src="https://mediafiles.botpress.cloud/92fab099-4040-41db-ab06-688c6db03f63/webchat/v2/config.js"></script>
<script>
    mybutton = document.getElementById("top1");


    window.onscroll = function() {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }



    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
</script>


</html>
